@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

*,
a {
	font-family: "Fira Code", monospace;
	text-decoration: none;
}

body {
	background-color: rgb(22, 22, 22);
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 10%;
	height: auto;
	width: auto;
	max-width: 600px;
	border-radius: 30px;
	background-color: rgb(30, 30, 30);
	box-shadow: 0 0 10px 3px #222224;
}

h1 {
	color: #1a237e;
	--start-color: #ff4d4d;
	--end-color: #f9cb28;
	--start-color-2: #7928ca;
	--end-color-2: #ff0080;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		-45deg,
		#007cf0,
		#00dfd8,
		var(--start-color-2),
		var(--end-color-2),
		var(--start-color),
		var(--end-color)
	);
	animation: gradient 10s ease-in-out infinite;
	background-size: 500% 500%;
	font-size: 48px;
	text-align: center;
	height: 60px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
	font-size: 20px;
	background: -webkit-linear-gradient(#fdd422, #fa6820);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 16px;
	background: -webkit-linear-gradient(#fdd422, #fa6820);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tech-details div {
	font-size: 14px;
	color: white;
	text-align: center;
}

.tech-details div span {
	width: 20px;
	height: 300px;
}

.tech-details a,
.owners {
	color: #fdd422;
}

.about-bot {
	text-align: center;
	color: white;
	width: 100%;
}

details {
	margin-top: 25%;
}

.other-inf {
	text-align: left;
	color: grey;
	text-align: center;
}

.nerd-info {
	margin: 30px;
}

.heavy-text {
	font-weight: 550;
	color: #fdd422;
}

a {
	text-decoration: none;
}

.priv-link {
	color: #fdd422;
}

footer {
	color: white;
	text-align: center;
	font-size: 12px;
	height: auto;
	width: 100vw;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer span {
	color: white;
	font-weight: bold;
}

.discord-miniprofile {
	display: flex;
	justify-content: center;
	margin: 0px;
	width: 100%;
	margin-top: 20px;
}
